<div class="side-section" style="width: 350px; height: 50px;">
    <style>
        .image_button {
            display: block;
            width: 30px;
            height: 30px;
            font-size: 0;
            background-size: contain;
            background-repeat: no-repeat;
        }
        #link_01 {background-image: url("../images/nav/menu_04.jpg");}
        #link_01:hover {background-image: url("../images/nav/menu_04-2.jpg");}
        #link_02 {background-image: url("../images/nav/menu_05.jpg");}
        #link_02:hover {background-image: url("../images/nav/menu_05-2.jpg");}
        #link_03 {background-image: url("../images/nav/menu_06.jpg");}
        #link_03:hover {background-image: url("../images/nav/menu_06-2.jpg");}
        #link_04 {background-image: url("../images/nav/menu_07.jpg");}
        #link_04:hover {background-image: url("../images/nav/menu_07-2.jpg");}
        #link_05 {background-image: url("../images/nav/menu_08.jpg");}
        #link_05:hover {background-image: url("../images/nav/menu_08-2.jpg");}
        #link_06 {background-image: url("../images/nav/menu_09.jpg");}
        #link_06:hover {background-image: url("../images/nav/menu_09-2.jpg");}
        #link_07 {background-image: url("../images/nav/menu_10.jpg");}
        #link_07:hover {background-image: url("../images/nav/menu_10-2.jpg");}
    </style>
    <div class="side_button_group" style="margin-top: 21px; display: flex;">
        <a href="../00/00.htm" class="image_button" target="_top" id="link_01"></a>
        <a href="../01/01_1.htm" class="image_button" target="_top" id="link_02"></a>
        <a href="../02/02_1.htm" class="image_button" target="_top" id="link_03"></a>
        <a href="../03/03.htm" class="image_button" target="_top" id="link_04"></a>
        <a href="../04/04_1.htm" class="image_button" target="_top" id="link_05"></a>
        <a href="../05/05_1.htm" class="image_button" target="_top" id="link_06"></a>
        <a href="../06/06_2.htm" class="image_button" target="_top"id="link_07"></a>
    </div>
</div>